.registro
    &__grupoemail
        display: flex
        flex-direction: row
        justify-content: space-between
    &__email-correcto
        padding: .2em
        margin-bottom: 1em
        border-style: none
        border-bottom: 2px solid #4edf29 
        font-size: 1em
        width: 95%
        font-family: 'Barlow-Medium', sans-serif
    &__email-incorrecto
        padding: .2em
        margin-bottom: 1em
        border-style: none
        border-bottom: 1px solid #ee0d0d 
        font-size: 1em
        width: 95%
        font-family: 'Barlow-Medium', sans-serif
    &__email-incorrecto-p
        display: block
        color: #ee0d0d
        font-size: 12px
        margin-top: -0.5em
    &__email-incorrecto-oculto
        display: none
    &__email-tick-correcto
        display: block
        position: absolute
        margin-left: 85%
        margin-top: 0.3em
        // background-image: url("src/assets/iconos/Green_tick.svg")
        background-size: contain
        background-repeat: no-repeat
        height: 0.9em
        width: 0.9em

    &__email-tick-oculto
        display: none