 <div class="contenedora">
 <div class="contenedora__con">
        <header class="contenedora__bienvenido">
          <p>¡Hola {{nombreUsuario}}!</p>
        </header>

        <div class="contenedora__carrousel1">

          <div id="demo" class="carousel slide" data-ride="carousel">

            
            <div class="contenedora__carrousel">
            <!-- The slideshow -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                
                <div class="row">
                  <div class="col-2 col-xs-2">
                    <img class="contenedora__imagenCarrousel" src="../../../assets/iconos/apadrina@2x.png" alt="Icono de apadrinamiento" >
                  </div>
                  <div class="col-10 col-xs-10 contenedora__contenidoCarrousel">
                    <div class="contenedora__tituloCarrousel"><p>Estado apadrinamiento </p></div>
                    <div class="contenedora__textoCarrousel"><p>texto</p></div>
                  </div>
                </div>
                
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-2 col-xs-2">
                    <img class="contenedora__imagenCarrousel" src="../../../assets/iconos/mascota@2x.png" alt="Icono Perrito" >
                  </div>
                  <div class="col-10 col-xs-10 contenedora__contenidoCarrousel">
                    <div class="contenedora__tituloCarrousel">
                      <p>Estado de la adopcion</p>
                    </div>
                    <div class="contenedora__textoCarrousel">
                      <p>Revisa el proceso de tus adopcioness en curso</p>
                    </div>
                  </div>
                </div>
                
              </div>
              <div class="carousel-item">
                
                <div class="row">
                  <div class="col-2 col-xs-2">
                    <img class="contenedora__imagenCarrousel" src="../../../assets/iconos/localization@2x.png" alt="Icono de Ubicacion" >
                  </div>
                  <div class="col-10 col-xs-10 contenedora__contenidoCarrousel">
                    <div class="contenedora__tituloCarrousel">
                      <p>Estado de la Ubicacion</p>
                    </div>
                    <div class="contenedora__textoCarrousel">
                      <p>Texto</p>
                    </div>
                  </div>
                </div>
  
              </div>
            </div>
            </div>
            <!-- Indicators -->
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
            </ul>
        </div>
      </div>

        <div class="contenedora__titulo">
          <p class="contenedora__texto">Novedades</p>
        </div>
        <figure class="contenedora__adopcion">
          <img class="contenedora__imagenes" src="../../../assets/home/uli1Copy@3x.png" alt="logo">
          <figcaption class="contenedora__figcaptions"> 10 curiosidades sobre las chinchillas</figcaption>
        </figure>

        <figure class="contenedora__adopcion">
          <img class="contenedora__imagenes" src="../../../assets/home/uli1Copy_2@3x.png" alt="logo">
          <figcaption class="contenedora__figcaptions">¿ Sabes que comen las iguanas ?</figcaption>
        </figure>

        <figure class="contenedora__adopcion">
          <img class="contenedora__imagenes" src="../../../assets/home/uli1Copy_3@3x.png" alt="logo">
          <figcaption class="contenedora__figcaptions"> 10 Lugares para visitar con tu perro en Madrid</figcaption>
        </figure>

    </div>
    <div class="contenedora__barritaperfil">
      <app-footer></app-footer>
      </div>
    </div>